/* p met tt les paragraphes noté <p></p> en une couleur
{
	color: #FA8072; (salmon)
}

h1, em
{
	color: #00FF00; (lime)
} le probleme avec ca cet que ça met tous les p ou h1 ou 
em en couleurs sans faire de distinction*/

.explication /*vient de class="explication" dans html; class pour englober plusieurs elem*/
{
	color:#000080; /*(navy)*/
}

/* #logo (vient de id="" quand un element est unique comme le logo par ex)
{
}
*/
body
{
	background-color: silver; /* le fond de la page change de couleur */
	color: grey; /*le texte de la page change de couleur*/
	/* background-image: url("neige.png"); met une image de fond */
	background-attachment: fixed; /*le fond restera fixe*/
	background-repeat: no-repeat; /*le fond ne sera pas répété*/
	/* background-position: top right; le fond sera placé en haut à droite*/
	/* on peut aussi l'écrire sous la forme de
	 * background: url("soleil.png") fixed no-repeat top right; */
	/* on peut mettre plusieurs images de fond */
}

.prenom
{
	font-size:xx-large; /*xx-small,x-small,small,medium,large,x-large,xx-large*/
	font-style: italic; /*met en italique*/
	text-decoration: line-through; /*barre le mot*/
}

.titre
{
	font-family: Times Roman, Georgia, Verdana, Arial, serif; /*la police*/
	/*si le navigateur ne trouve par la 1er police elle passe à l'autre
	 * jusqu'à la derniere...*/
	text-align: center;
}

.groupe
{
	font-size:5px;
}

.span /*span sert a prendre un mot dans un <p> sans prendre tt la phrase; remplace strong,em...*/
{
	color: #808000; /*olive*/
	font-size:30px; /*taille; peut etre aussi 4.8em pour nbre décimaux;ya egalement 130%*/
	font-weight: bold; /*mettre en gras*/
	text-decoration: underline; /*souligne le mot*/
}
